/* spacer.css */
.spacer {
    display: inline-flex;
    min-width: 1em;
    min-height: 1em;
}

.spacer-small {
    display: inline-flex;
    min-width: 0.75em;
    min-height: 0.75em;
}

.spacer-smaller {
    display: inline-flex;
    min-width: 0.5em;
    min-height: 0.5em;
}

.spacer-smallest {
    display: inline-flex;
    min-width: 0.25em;
    min-height: 0.25em;
}

.spacer-large {
    display: inline-flex;
    min-width: 1.25em;
    min-height: 1.25em;
}

.spacer-larger {
    display: inline-flex;
    min-width: 1.5em;
    min-height: 1.5em;
}

.spacer-largest {
    display: inline-flex;
    min-width: 1.75em;
    min-height: 1.75em;
}
